<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientRtkGps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ClientRtkGps.Properties.Settings>
            <setting name="SourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialSinkName" serializeAs="String">
                <value />
            </setting>
            <setting name="SinkBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceSpecificText" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TcpClientHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TcpClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TcpServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TcpServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSerialSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUdpSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTcpClientSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTcpServerSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="M8pAutoconfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="M8pFW130" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovingBase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SurveyInAcc" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="M8pTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="InjectMsgType" serializeAs="String">
                <value>False</value>
            </setting>
        </ClientRtkGps.Properties.Settings>
    </userSettings>
</configuration>
