<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientRtkGps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <log4net>
      <appender name="Main" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="${LOCALAPPDATA}\\DSS\logs\ClientRtkGps\log-%utcdate{yyyy-MM-dd_HH-mm-ss}.txt"/>
        <rollingStyle value="Date"/>
        <appendToFile value="true"/>
        <maximumFileSize value="1GB"/>
        <maxSizeRollBackups value="3"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%utcdate{ISO8601} UTC %-5level %-18logger %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="INFO"/>
        <appender-ref ref="Main"/>
      </root>
    </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ClientRtkGps.Properties.Settings>
            <setting name="SourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialSinkName" serializeAs="String">
                <value />
            </setting>
            <setting name="SinkBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceSpecificText" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TcpClientHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TcpClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TcpServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TcpServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSerialSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUdpSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTcpClientSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTcpServerSink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="M8pAutoconfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="M8pFW130" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovingBase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SurveyInAcc" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="M8pTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="InjectMsgType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RadioLinkBaud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="RtcmLogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RtcmLogDir" serializeAs="String">
                <value>%LOCALAPPDATA%/DSS/logs/ClientRtkGps</value>
            </setting>
            <setting name="UdpLocalPort" serializeAs="String">
                <value>14555</value>
            </setting>
            <setting name="WifiCompId" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SerialCompId" serializeAs="String">
                <value>26</value>
            </setting>
        </ClientRtkGps.Properties.Settings>
    </userSettings>
</configuration>
